<div id="placeHolder-main">
    <span class="header-title">Access Denied</span>
    <br /><br />
    <b>You are not authorized to view this page.</b><br />
    <span>Return to <a href="/">Home Page</a></span>
    <br />
</div>