

<style>
     .table > thead > tr > th {
        background: #605ca8;
        color: #fff;
    }

    .form-control {
        height: auto;
    }
        .body-content {
            background-color: #ffffff;
        }
</style>


<div style="margin:0">
    <table id="tableSupplyOrder2 class=" table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="98%">
        <thead>
            <tr>
                <th width="2%"><input type="checkbox" name="select_all" value="1" id="cbTSOSelectAll"></th>
                <th width="5%">Code</th>
                <th width="10%">Farmer</th>
                <th width="8%">Mobile</th>
                <th width="10%">Suger Mill</th>
                <th width="8%">Amount to Collect</th>
                <th width="8%">Actually Collected</th>
                <th width="8%">Collection Date</th>
                <th width="3%">is collected</th>
                <th width="15%">note</th>
            </tr>
        </thead>
    </table>
</div>


    <hr>
